@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media only screen and (max-width: 600px) {
    .caixa {
        font-size: 10px;
    }

    .box1 {
        height: 100%;
        width: 80%;
        border-radius: 70px 0px 0px 70px;
    }
    .box2{
        padding: 10%;
    }

}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', 'QuickSand', 'Lucida', 'Sans Unicode';
    background: linear-gradient(289.13deg, #03C8DC 0%, #01558F 28.83%, #003E73 59.87%, #021545 93.23%);
}

h2 {
    text-align: center;
    color: white;
}


/*HEADER*/

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerHeader {
    height: 15vh;
    width: 100%;
    display: flex;
    background-color: #010E3C;
}

.navbar {
    list-style: none;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    width: 30vw;
    padding: 10px;
    color: rgba(0, 194, 203, 1);
    cursor: pointer;
}

.headerIcon {
    width: 80%;
    display: flex;
    align-self: center;
    padding: 10px;
}

.fotoUsuario {
    margin: 2%;
    height: 10vh;
}

/*MAIN*/

.main {
    height: fit-content;
    width: 98vw;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerMain {
    width: 80vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0;
}

.caixa {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box1 {
    height: 100%;
    width: 30%;
    border-radius: 70px 0px 0px 70px;
}

.box2 {
    width: 60%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 0px 70px 70px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxAplicativo {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.borda01 {
    width: 80%;
    color: white;
    cursor: pointer;
    text-align: center;
    border-top: solid 1px white;
    margin-bottom: 20%;
}

.bordaCadastro {
    margin: auto;
    width: 90%;
    height: 50%;
    border: 1px solid white;
}

.boxCampoCadastro {
    border-bottom: 1px solid white;
    color: white;
    padding: 1%;
    margin: 1%;
    display: flex;
    justify-content: space-between;
}

.selectHardware {
    background-color: #021545;
    color: white;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    width: 90%;
}

.boxButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonCadastrar {
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    background-color: #010e3c42;
}

.footer {
    width: 100%;
    height: 15vh;
    color: #FFF;
    background-color: #021545;
    display: flex;
    justify-content: center;
    align-items: center;
}